* {
  padding: 0px;
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  height: 100%;
}

button {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  cursor: pointer;
}

button:hover {
  color: #fa8241;
}

.nav-and-login-container {
  display: flex;
  flex-direction: column;
}

.main-logo {
  display: flex;
  width: 30%;
}
.logo {
  font-size: 25px;
  margin-left: 10px;
}

.welcome {
  font-size: 25px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #3e5d88;
  color: white;
  padding: 25px;
}

.trip-dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.trip-filter-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 9%;
  background-color: #fa9763;
}

.filter-button {
  width: 15%;
  font-size: 17px;
  padding: 5px;
}

/* ~~~~~~~~~~~~~~~~~~ TRIP CARD RULES ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.trip-cards-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  overflow: scroll;
  height: 100%;
  width: 100%;
  background-color: white;
}

.trip-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 69%;
  width: 28%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.trip-card-img-container {
  height: 35%;
  width: 100%;
  margin-bottom: 10px;
  align-self: center;
}

img {
  height: 155px;
  width: 100%;
  border-radius: 10px;
}

.trip-card-location {
  align-self: center;
}

.not-found-msg {
  align-self: center;
  margin-top: 75px;
  font-size: 50px;
}

/* ~~~~~~~~~~~~~~~~~~ SIDEBAR RULES ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.profile-sidebar {
  display: flex;
  flex-direction: column;
  height: 97%;
  width: 23%;
  padding: 10px;
  background-color: #f2f2f2;
}

.name-date-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.traveler-name-title,
.today-date-title,
.num-days-traveled-title {
  font-size: 12px;
}

.today-date-title,
.num-days-traveled-title {
  margin-top: 25px;
}

.trip-cost-container {
  display: flex;
  align-items: center;
  height: 15%;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 40px;
  background-color: #fa9863d7;
}

.book-now-container {
  align-self: center;
  font-size: 23px;
  width: 90%;
  margin-top: 80px;
}

.icon-text-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.book-now-button {
  font-size: 18px;
  padding: 5px;
  width: 90%;
  margin-left: 10px;
}


/* ~~~~~~~~~~~~~~~~~~ FORM RULES ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.new-trip-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 75%;
  margin-top: 20px;
  align-self: center;
}

.new-trip-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  height: 65%;
  width: 50%;
  align-self: center;
  border-radius: 10px;
  background-color: #f1ede6;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.new-trip-form label,
.login-form {
  font-size: 18px;
}

.new-trip-form input,
.new-trip-form select,
.login-form input {
  font-size: 16px;
}

.form-title-container {
  display: flex;
  align-self: center;
}

.form-title {
  margin-left: 10px;
}

.trip-quote {
  align-self: center;
}

.back-to-dashboard-button,
.clear-form-button,
.quote-button,
.submit-button {
  font-size: 15px;
  padding: 3px;
}

.quote-button,
.submit-button {
  align-self: center;
  width: 40%;
}

.form-errors,
.date-error-message {
  align-self: center;
  font-size: 19px;
  color: #f88a4f;
  font-weight: 900;
}



/* ~~~~~~~~~~~~~~~~~~ LOGIN RULES ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:75%;
  width: 30%;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1ede6;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.username-container,
.password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  width: 60%;
}

.username-container {
  margin-bottom: 10px;
}

.password-container {
  margin-top: 10px;
}

#username,
#password {
  margin-top: 5px;
}

.login-button {
  margin-top: 20px;
  width: 40%;
  font-size: 15px;
  padding: 3px;
}

.password-error,
.username-error {
  color: #f88a4f;
  font-size: 14px;
  font-weight: 900;
}


/* ~~~~~~~~~~~~~~~~~~ HIDDEN RULE ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.hidden {
  display: none;
}
