* {
  padding: 0px;
  margin: 0px;
  border: 1px solid salmon;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  background-color: #85c1b7;
}

.trip-dashboard {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
}

.trip-filter-button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #fa9763;
}

.trip-cards-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  overflow: scroll;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

.trip-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  width: 29%;
  margin: 20px;
  border-radius: 10px;
  background-color: #f1ede6;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.trip-card-img-container {
  height: 35%;
  width: 90%;
  align-self: center;
}

.profile-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 30%;
  background-color: #f1ede6;
}
